@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: hsl(217, 28%, 15%);
    font-family: 'Open Sans';
    font-size: 14px;
}
.container{
    margin: 0 2%;
}
header{
    display: flex;
    padding: 10px 30px;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    font-family: 'Raleway', sans-serif;;
}
header img{
    width: 150px;
}

ul li{
    display: inline-block;
    margin: 0 20px;
}
nav ul li a{
    color: white;
    text-decoration: none;
}
nav ul li a:hover{
    font-weight: 600;
    text-decoration: underline;
}
section.initial{
    text-align: center;
    position: relative;
    z-index: 2;
}
section.initial img{
    width: 660px;
    margin-top: 50px;
}
section.initial h1{
    color: white;
    font-family: 'Raleway';
    font-size: 40px;
    width: 700px;
    margin: 20px auto;
    font-weight: 600;
}
section.initial p{
    color: white;
    font-family: 'Open Sans';
    font-size: 20px;
    width: 620px;
    margin: 20px auto;
    font-weight: 400;
    line-height: 1.7em;
    z-index: 999;
}
section.initial button{
    width: 270px;
    padding: 15px 0;
    border-radius: 30px;
    background-color: hsl(176, 68%, 64%);
    color: white;
    font-size: 1.1em;
    cursor: pointer;
    margin-bottom: 150px;
    z-index: 999;
}
section.information{
    background-color: hsl(218, 28%, 13%);
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
}
#curved-img{
    position: absolute;
    width: 100%;
    top: -380px;
    z-index: 1;
}
section.information div{
    max-width: 400px;
    padding: 30px;
    margin: 10px 40px;
    text-align: center;
    color: white;
}
/* section.information div:nth-child(1){
    background-color: lawngreen;
    
} */
section.information h3{
    margin: 20px 0 10px 0;
    font-weight: 600;
    color: rgb(255, 255, 255);
}
section.information p{
    font-weight: 300;
    font-size: 13px;
    color: rgba(255, 255, 255, 0.7);
}
section.information2{
    background-color: hsl(218, 28%, 13%);
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
section.information2 img{
    max-width: 600px;
    margin: 0 20px;
}
section.information2 div{
    max-width: 500px;
    color: white;
    margin: 0 40px;
}
section.information2 h1{
    font-size: 40px;
    font-weight: 600;
}
section.information2 p{
    margin: 20px 0;
    color: rgba(255, 255, 255, 0.8);
}
section.information2 a{
    color: white;
    text-decoration: none;
}
section.information2 a::after{
    content: url('../images/icon-arrow.svg');
    position: relative;
    top: 4px;
    left: 5px;   
}
#arrow{
    margin: 0;
}
section.members{
    background-color: hsl(218, 28%, 13%);
    display: flex;
    justify-content: center;
}
.members-single{
    max-width: 340px;
    color: rgba(255, 255, 255, 0.8);
    font-weight: 300;
    font-size: 14px;
    margin: 160px 20px;
    background-color: hsl(219, 30%, 18%);
    padding: 35px 25px 25px 25px;
}
.members-single > div{
    display: flex;
    align-items: center;
}
.members-single > p{
    margin-bottom: 10px;
    
}
.members-single div>img{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-right: 10px;
}
.members-single div>p{
    font-size: 10px;
    font-weight: 600;
}
div>p.office{
    font-size: 8px;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.7);
}