@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: hsl(217, 28%, 15%);
    font-family: 'Open Sans';
    font-size: 14px;
}
.container{
    margin: 0 2%;
}
header{
    display: flex;
    padding: 10px 30px;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    font-family: 'Raleway', sans-serif;;
}
header img{
    width: 150px;
}

ul li{
    display: inline-block;
    margin: 0 20px;
}
nav ul li a{
    color: rgba(255, 255, 255, .7);
    text-decoration: none;
}
nav ul li a:hover{
    font-weight: 600;
    text-decoration: underline;
    color: white;
}
section.initial{
    text-align: center;
    position: relative;
    z-index: 2;
}
section.initial img{
    width: 660px;
    margin-top: 50px;
}
section.initial h1{
    color: rgba(255, 255, 255, .9);
    font-family: 'Raleway';
    font-size: 2.8em;
    width: 700px;
    margin: 20px auto;
    font-weight: 600;
}
section.initial p{
    color: rgba(255, 255, 255, .7);
    font-family: 'Open Sans';
    font-size: 20px;
    width: 620px;
    margin: 20px auto;
    font-weight: 400;
    line-height: 1.6em;
    z-index: 999;
}
section.initial button{
    width: 270px;
    padding: 15px 0;
    border-radius: 30px;
    background-image: linear-gradient(to right, hsl(176, 68%, 64%), hsl(198, 60%, 50%));
    color: white;
    font-size: 1.1em;
    cursor: pointer;
    margin-bottom: 150px;
    z-index: 999;
}
section.initial button:hover{
    background-image: linear-gradient(to right, hsl(176, 68%, 64%), hsl(176, 68%, 64%));
    font-weight: 600;
}
section.information{
    background-color: hsl(218, 28%, 13%);
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
}
#curved-img{
    position: absolute;
    width: 100%;
    top: -380px;
    z-index: 1;
}
section.information div{
    max-width: 400px;
    padding: 30px;
    margin: 10px 40px;
    text-align: center;
    color: white;
}
section.information h3{
    margin: 20px 0 10px 0;
    font-weight: 600;
    color: rgb(255, 255, 255);
}
section.information p{
    font-weight: 300;
    font-size: 13px;
    color: rgba(255, 255, 255, 0.7);
}
section.information2{
    background-color: hsl(218, 28%, 13%);
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
section.information2 img{
    max-width: 600px;
    margin: 0 20px;
}
section.information2 div{
    max-width: 500px;
    color: white;
    margin: 0 40px;
}
section.information2 h1{
    font-size: 40px;
    font-weight: 600;
}
section.information2 p{
    margin: 20px 0;
    color: rgba(255, 255, 255, 0.7);
}
section.information2 a{
    color: rgba(101, 226, 217, 0.7);
    text-decoration: none;
    padding-bottom: 5px;
    border-bottom: 1px solid rgba(101, 226, 217, 0.7);
}
section.information2 a:hover{
    color: white;
    border-bottom: 1px solid white;
}
section.information2 a::after{
    content: url('../images/icon-arrow.svg');
    position: relative;
    top: 4px;
    left: 5px; 
    padding-bottom: 1px;
}

section.members{
    background-color: hsl(218, 28%, 13%);
    display: flex;
    justify-content: center;
    position: relative;
}
img#quotes{
    display: block;
    width: 50px;
    height: 40px;
    position: absolute;
    top: 128px;
    left: 118px;
}
.members-single{
    max-width: 340px;
    color: rgba(255, 255, 255, 0.7);
    font-weight: 300;
    font-size: 1em;
    margin: 160px 20px 300px 20px;
    background-color: hsl(219, 30%, 18%);
    padding: 35px 25px 25px 25px;
    z-index: 9;
}
.members-single > div{
    display: flex;
    align-items: center;
}
.members-single > p{
    margin-bottom: 20px;
    
}
.members-single div>img{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-right: 10px;
}
.members-single div>p{
    font-size: 10px;
    font-weight: 600;
}
div>p.office{
    font-size: 8px;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.7);
}
section.early-access{
    position: absolute;
    bottom: -90px;
    width: 60%;
    margin: 0 auto;
    color: white;
    background-color: hsl(217, 28%, 15%);    ;
    text-align: center;
    padding: 20px 50px;
    font-family: "Raleway";
    box-shadow: 5px 5px 10px 1px rgba(0,0,0,0.3);
}
section.early-access h2{
    font-size: 2.1em;
    font-weight: 600;
    margin: 15px;
}
section.early-access p{
    font-size: .9em;
    font-family: 'Open Sans';
    color: rgba(255, 255, 255, 0.7);
    margin: 22px 0;
    padding: 0 60px;
    line-height: 18px;
}
section.early-access input{
    width: 440px;
    height: 40px;
    border-radius: 25px;
    margin: 10px 0;
    margin-right: 20px;
    outline: none;
}
section.early-access button{
    padding: 10px 30px;
    height: 40px;
    border-radius: 25px;
    outline: none;
    border: none;
    cursor: pointer;
    color: white;
    background-image: linear-gradient(to right, hsl(176, 68%, 64%), hsl(198, 60%, 50%));
}
section.early-access button:hover{
    background-image: linear-gradient(to right, hsl(176, 68%, 64%), hsl(176, 68%, 64%));
}
footer{
    background-color: hsl(216, 53%, 9%);
    padding: 100px;
    padding-bottom: 40px;
    color: white;
    display: flex;
    flex-wrap: wrap;
}

#desc{
    padding: 15px;
    margin: 20px 0 50px 0;
}
#desc img{
    display: block;
    margin-bottom: 50px;
    width: 100px;
}
#desc i{
    float: left;
    font-size: 1.2em;
    margin-right: 30px;
}
#desc p{
    float: left;
    width: 300px;
    font-size: 1em;
    color: rgba(255, 255, 255, 0.7);
}
#contact{
    margin: 120px 60px 0 60px;
}
#contact i{
    color: white;
    font-size: 1.4em;
    margin-right: 20px;
}
#contact p{
    margin-bottom: 10px;
    font-size: .9em;
    color: rgba(255, 255, 255, 0.7);
}
#about{
    margin: 120px 60px 0 60px;
}
#about p{
    margin-bottom: 10px;
    font-size: 1em;
    color: rgba(255, 255, 255, 0.7);
}
#terms{
    margin: 120px 40px 0 20px;
}
#terms p {
    margin-bottom: 10px;
    font-size: 1em;
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
}
#terms p:hover{
    font-weight: 400;
    color: white;
}
#social{
    margin: 120px 0 0 80px;
}
#social i{
    border: 1px solid rgba(255, 255, 255, 0.7);
    color: rgba(255, 255, 255, 0.7);
    border-radius: 50%;
    padding: 5px;
    margin-right: 10px;
    cursor: pointer;
}
#social i:hover{
    color: rgba(101, 226, 217, 0.8);
    border-color: rgba(101, 226, 217, 0.8);
}
#social i:nth-child(1){
    width: 25px;
    text-align: center;
}