@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: hsl(218, 28%, 13%);
}
.container{
    margin: 0 2%;
}
header{
    display: flex;
    padding: 10px 30px;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    font-family: 'Raleway', sans-serif;;
}
header img{
    width: 150px;
}

ul li{
    display: inline-block;
    margin: 0 20px;
}
nav ul li a{
    color: white;
    text-decoration: none;
}
nav ul li a:hover{
    font-weight: 600;
    text-decoration: underline;
}
section.initial{
    text-align: center;
}
section.initial img{
    width: 660px;
    margin-top: 50px;
}
section.initial h1{
    color: white;
    font-family: 'Raleway';
    font-size: 40px;
    width: 700px;
    margin: 20px auto;
    font-weight: 600;
}
section.initial p{
    color: white;
    font-family: 'Open Sans';
    font-size: 20px;
    width: 620px;
    margin: 20px auto;
    font-weight: 400;
    line-height: 1.7em;
}
section.initial button{
    width: 270px;
    padding: 15px 0;
    border-radius: 30px;
    background-color: hsl(176, 68%, 64%);
    color: white;
    font-size: 1.1em;
    cursor: pointer;
}